@import 'tailwindcss';

body {
  background: #bfed55;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes moveTiles {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 800px 800px;
  }
}

.bg-animated-tiles {
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;
  background-image: url('/icon-192.png');
  background-repeat: repeat, repeat;
  opacity: 0.1;
  animation: moveTiles 100s linear infinite;
  transform: rotate(-45deg);
}
